.app {   
  margin-bottom: 140px;
}

p {
  font-family: 'EB Garamond', sans-serif;
}

.section-header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
}

.section-description {
  text-align: center;
  margin:  auto;
  margin-top: 0.5em;
  margin-bottom: 3em;
  width: 780px;
}