.app {
  margin-bottom: 140px;
}

p {
  font-family: 'EB Garamond', sans-serif;
}

.section-header {
  text-align: center;
  margin-bottom: 0;
}

.section-description {
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 3em;
  max-width: 90%; /* Adjust the max-width for better responsiveness */
}

.auth-description {
  font-family: 'EB Garamond', sans-serif;
  width: 780px;
  margin: auto;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 40px;
  max-width: 90%; /* Adjust the max-width for better responsiveness */
}

.info-box {
  max-width: 90%; /* Adjust the max-width for better responsiveness */
  margin: auto;
  margin-top: 5em;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #F1F3F4;
}

.info-box-description {
  max-width: 90%; /* Adjust the max-width for better responsiveness */
  margin: auto;
  text-align: center;
}
