.app {
  margin-bottom: 140px;
}

p {
  font-family: 'EB Garamond', sans-serif;
}

.section-header {
  text-align: center;
  margin-bottom: 0;
}

.section-description {
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 3em;
  max-width: 90%; /* Adjust the max-width for better responsiveness */
}

.auth-description {
  font-family: 'EB Garamond', sans-serif;
  width: 780px;
  margin: auto;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 40px;
  max-width: 90%; /* Adjust the max-width for better responsiveness */
}

.info-box {
  max-width: 90%; /* Adjust the max-width for better responsiveness */
  margin: auto;
  margin-top: 5em;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #F1F3F4;
}

.info-box-description {
  max-width: 90%; /* Adjust the max-width for better responsiveness */
  margin: auto;
  text-align: center;
}

.button {
  background-color: #CA8A35;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  margin: 15px;
  margin-left: 0;
  height: 40px;
  width: 160px;

}

.big-button {
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #CA8A35;
  border: none;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  color: #ffffff;
  cursor: pointer;
  width: 300px;
  height: 50px;
  line-height: 1;
}

.big-button:hover {
  background-color: #CB8E31;
}

.page-break {
  height: 300px;
}